#
# https://help.github.com/articles/dealing-with-line-endings/
#

# Default: normalize all text files to LF in repo
* text=auto eol=lf

# Keep Windows scripts as CRLF
*.bat text eol=crlf

# Gradle wrapper script (Linux/macOS)
gradlew text eol=lf